@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  /* gray-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
  /* gray-600 */
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
  /* gray-500 */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

/* Hide scrollbar for Chrome/Safari/Opera when not hovering */
.custom-scrollbar {
  transition: all 0.3s;
}

.custom-scrollbar:not(:hover)::-webkit-scrollbar-thumb {
  background: transparent;
}

.custom-scrollbar:not(:hover)::-webkit-scrollbar-track {
  background: transparent;
}